<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fa/css/all.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
    <title>Funcionamento do Sistema</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="automacao.html">Sistema</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="APP.html">APP</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Como o APP irá funcionar?<i class="fas fa-globe-americas"></i></h1>
        </div>
    </div>
           <div class="container">
                <div class="card">
                    <div class="card-sistema">
                            <h5 class="card-title">Funcionamento do APP FOWLTECH</h5>
                        <p class="card-text">No video abaixo será possivel observar o funcionamento do app:</p>
                        <video width="500" height="300" controls> <source src="../imagens-videos/video-app.mp4" type="video/mp4"></video>
                        <p class="card-text">Ao iniciar o app vemos o carregamento e logo após carregar o cliente é levado para a tela de login, porem se não houver cadastro devera clicar no botão cadastrar. Na aba cadastro tterá que colocar os dados principais(nome, email, senha usuario e estado) clicando em slavar o usuario podera acessar a tela inicial da automção. Na aba após o login teremos 3 botões conectar ao arduino via bluetooth onde sera redirecionado para outra tela e lá podera ver ser arduino, outros dois botoes portanto sao responsavel por ativar a automação, no botão Movimentar por:(s) será possivelç controlar o tempo que a autmação ira movimentar o prato de ração (tempo em s o indicado), no terceiro botão temos a opção de controlar de quantos em quantos minutos sera ligado novamente.</p>
                        <img width="600" height="700" source src="../imagens-videos/app-imagem1.jpeg" type="imagem/jpeg"> </img> 
                        <p class="card-text">Imagem 1: &uarr; Tela de carregamento do app.</p>
                        <img width="600" height="700" source src="../imagens-videos/app-imagem2.jpeg" type="imagem/jpeg"> </img> 
                        <p class="card-text">Imagem 2: &uarr;  Tela de cadastro </p>
                        <img width="600" height="700" source src="../imagens-videos/app-imagem3.jpeg" type="imagem/jpeg"> </img> 
                        <p class="card-text">Imagem 3: &uarr;  Tela de login </p>
                        <img width="600" height="700" source src="../imagens-videos/app-imagem4.jpeg" type="imagem/jpeg"> </img> 
                        <p class="card-text">Imagem 4: &uarr;  colocando os dados cadastrados para entrar na aplicação  </p>
                        <img width="600" height="700" source src="../imagens-videos/app-imagem5.jpeg" type="imagem/jpeg"> </img> 
                        <p class="card-text">Imagem 5: Tela da automação &uarr; com os botoes de conectar aoarduino que direciona para o bluetooth e os botões de controle do arduino são representados pelos botões Movimento por:(s) e Acionara cada(min). </p>
                        <img width="600" height="700" source src="../imagens-videos/app-imagem6.jpeg" type="imagem/jpeg"> </img> 
                        <p class="card-text">Imagem 6: ao clicar no botão movimentar  &uarr; o cliente podera controlar o tempo que deseja movimentar o prato a cada vez que ligar.</p>
                        <img width="600" height="700" source src="../imagens-videos/app-imagem7.jpeg" type="imagem/jpeg"> </img> 
                        <p class="card-text">Imagem 7: ao clicar no botão &uarr; Acionar a cada(min) será possivel alterar os intervalos de tempo que o sistema irrá ligar. </p>
                        <img width="600" height="700" source src="../imagens-videos/app-imagem8.jpeg" type="imagem/jpeg"> </img> 
                        <p class="card-text">Imagem 8: Pode observar que &uarr; o botão de interrogação esta meio apagado pois ao apertar é redirecionado para uma nova aba cuja função é explicada na proxima imagem.  </p>
                        <img width="600" height="700" source src="../imagens-videos/app-imagem9.jpeg" type="imagem/jpeg"> </img> 
                        <p class="card-text">Imagem 9: &uarr;  Nesta ultima imagem temos um pequeno texto explicando por que da criação desse projeto.  </p>
                        
                    </div>
                </div>
            </div>

</body>

</html>