<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fa/css/all.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
    <title>Funcionamento do Sistema</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="automacao.html">Sistema</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="APP.html">APP</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Como o sistema irá funcionar?<i class="fas fa-globe-americas"></i></h1>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-6">
            <div class="col-sm-6">
                <div class="card-github">
                    <h5 class="card-title">Etapa 1: conhecendo o sistema da granja</h5>
                    <img src="..//imagens-videos/imagem1.jpg"></img>
                    <p class="texto">Nesta imagem representa uma linha de ração da granja, ( Seu funcionamento é muito simples e consiste no recebimento da ração em um depósito, e sua distribuição nos pratos do circuito, através de tubo galvanizado com um helicóide interno. O abastecimento da ração é controlado por um prato de controle unificado (final / individual) que liga e desliga o sistema automaticamente, levando em consideração o nível de ração existente. O sistema de regulagem da altura da linha é feito por guincho. Depósito desmontável e acionamento compacto, permitem a elevação das linhas mais próximas do pé-direito, facilitando a retirada das aves e a limpeza do aviário. "http://agropanmg.com.br/produtos/avicultura/frango-de-corte/comedouro-tuboflex-individual/")</p>
                </div>
            </div>
        </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-github">
                        <h5 class="card-title">Etapa 2: conhecendo o sistema da granja</h5>
                        <img src="..//imagens-videos/video1.mp4"></img>
                        <p class="texto">Nesta imagem representa uma linha de ração da granja, ( Seu funcionamento é muito simples e consiste no recebimento da ração em um depósito, e sua distribuição nos pratos do circuito, através de tubo galvanizado com um helicóide interno. O abastecimento da ração é controlado por um prato de controle unificado (final / individual) que liga e desliga o sistema automaticamente, levando em consideração o nível de ração existente. O sistema de regulagem da altura da linha é feito por guincho. Depósito desmontável e acionamento compacto, permitem a elevação das linhas mais próximas do pé-direito, facilitando a retirada das aves e a limpeza do aviário. "http://agropanmg.com.br/produtos/avicultura/frango-de-corte/comedouro-tuboflex-individual/")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>