<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fa/css/all.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
    <title>Automação no Agronegocio Familiar</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="automacao.html">Sistema</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="APP.html">APP</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Automação no Agronegocio<i class="fas fa-globe-americas"></i></h1>
            <p class="lead">O intuito é automatizar o jeito que estimulam o frango, para realizar isso será necessário desenvolver um sistema mecânico junto com um sistema que seja controlado por celular e computador tudo remotamente, o sistema mecânico será implantado nas linhas de ração nos aviários que terá como função agitar o prato de ração da linha para frente e para trás já o sistema remoto será responsável por controlar o tempo de balanço do prato e o tempo que terá que ocorrer tal automação, espero obter um resultado de qualidade e ganho de peso a mais na semana que estiver ligado pois será feito um teste onde uma semana será desligado o sistema e outra com o sistema ligado com intuito de colher informações sobre o ganho de peso do frango com o sistema. </p>
            <hr class="my-4">
            <p>Não perca a oportunidade de conhecer um projeto que ira transformar o Agro. Continue lendo e descubra como isso poderá ser feito.</p>
        </div>
    </div>

    <p class="texto"> A biossegurança, a qualidade da carne animal e de frango e o maior desenvolvimento da avicultura nacional são esperados com a implantação de um novo sistema de produção, que será mais verticalizado e intensificado.  Assistência técnica, normas de manejo e "boas práticas" são fornecidas aos produtores pelos integradores, ajudando-os a organizar as atividades com eficiência.</p>
    <img src="https://agroceresmultimix.com.br/blog/wp-content/uploads/2017/10/aves1.jpg">
    <hr class="my-4">

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Funcionamento do sistema</h5>
                        <p class="card-text">Ficou curioso e quer entender como o sistema funciona? Clique no botão abaixo e descubra a solução que irá transformar a avicultura</p>
                        <a href="automacao.html" class="btn btn-primary">Sistema</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                            <h5 class="card-title">Funcionamento do APP</h5>
                        <p class="card-text">Neste local será relatado como o APP desenvolvido com unica e exclusiva finalidade para o sistema ao lado sera implantado e como sera seu funcionamento!!</p>
                        <a href="APP.html" class="btn btn-primary">APP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <hr class="my-4">

    <div class="container mt-4">
        <div class="row">
            <div class="col-6">
                <h2>Sign-in</h2>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
             <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                            <h5 class="card-title">Local do repositório no GitHub</h5>
                        <p class="card-text">Clicando no botão abaixo você sera redirecionado para o repositório no GitHub onde estara todos os documentos utilizados no projeto!!</p>
                        <a href="#" class="btn btn-primary">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>